{% from "intf.j2" import interface_edge %}
feature ospf
{% set device = data.NetworkDevice.edges[0].node %}
hostname {{ device.hostname.value }}

{% for interface_edge in device.interfaces.edges %}
  {% set interface = interface_edge.node %}
{{ interface_edge(interface) }}

{% endfor %}
router ospf UNDERLAY
  router-id {{ device.loopback_ip.node.address.ip }}

{% for artifact in device.artifacts.edges %}
{{ artifact.storage_id | include_content }}

{% endfor %}